{% extends 'frenifyBlog/base.html' %}

{% block content %}

<section class="container bg-yellow-100 border border-5 rounded-4 w-100 pt-5" style='border-color: black'>
        <div class="col-md-12">
            <h1 class="text-center">Blog</h1>
        </div>
        <div class="col-md-12">
            <h2 class="text-center">{{blog_post.title}}</h2>
        <div>
        <div class="col-md-12">
            <img src="{{blogpost.thumbnail}}" alt="{{blogpost.title}}" class="w-100 image-fluid">
        </div>
        <div class="col-md-12">
            {{blogpost.content | safe }}
        </div>
    </div>
</section>

{% endblock %}