{% extends 'frenifyBlog/base.html' %}


{% block content %}
{% include 'frenifyBlog/nav.html' %}
{% load like_tags %}


<section class="container bg-yellow-100">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Blog</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row justify-content-between row-gap-3 ">
                {% for blog in blog_posts  %}
                    <div class="card" style="width: 18rem;">
                        <img src="{{blog.get_thumbnail}}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{blog.twitter}}</h5>
                        <p class="card-text">{{blog.description}}</p>
                        <p class="card-text">{{blog.get_likes}}{{blog.get_likes|pluralize:"like, likes"}}</p>
                        <a href="{{blog.get_absolute_url}}" class="btn btn-primary">Read more</a>
                        </div>
                        {% is_liked blog as like_state %}
                        {% if like_state %}
                            <a href='{{blog.get_absolute_url}}/like' class="btn btn-primary">Unlike</a>
                        {% else %}
                            <a href='{{blog.get_absolute_url}}/like' class="btn btn-primary">Like</a>
                        {% endif %}

                        
                    </div>
                    
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% include 'frenifyBlog/follow_modal.html' %}
{% endblock %}

{% block script %}
<script>
    const modal = document.querySelector('.modal');
    const modalBtn = document.querySelector('[data-bs-toggle=modal]');
    {% if messages %}
        modalBtn.click();
    {% endif %}

</script>

{% endblock %}

